google-api-python-client==2.200.0
google-auth==2.57.1
google-auth-httplib2==0.4.2
google-auth-oauthlib==1.4.1
googleapis-common-protos==1.75.3
httplib2==0.32.0
openpyxl==3.1.5
pillow==12.3.0
protobuf==7.36.1
